<!DOCTYPE html>
<html>
<head>
  <title>Aura Web UI</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body class="aura-app"
      ic-on-beforeTrigger="return AuraApp.checkForNewTab(evt, elt)">

<div id="main-body"
     ic-transition="none"
     ic-history-elt
     ic-scroll-to-target="true"
     ic-scroll-offset="-100">

  <%= render partial: 'shared/desktop_nav' %>

  <div id="content-div" class="<%= 'top-nav-visible'%>">
    <%= render :partial => 'shared/alerts' %>
    <%= yield %>
  </div>

</div>

</body>
</html>
